<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>The Airbnb Tech Blog</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="title-band">
    <div class="wrapper">
        <div class="top-links">
          <div class="elipses-container">
            <div class="elipse elipse-one"></div>
            <div class="elipse elipse-two"></div>
            <div class="elipse elipse-three"></div>
          </div>
          <ul class="navigation top-nav">
            <li>Sign in</li>
            <li class="nav-button">Get Started</li>
          </ul>
        </div>
      <div class="brand-title-container-wrapper">
        <div class="brand-title-container">
          <div class="brand-title-image"><img src="/images/logo.png" alt="logo"></div>
          <div>
            <h1 class="brand-title">The Airbnb Tech Blog</h1>
            <p class="brand-caption">A deeper look into how our Engineers and Data Scientists build a world of belonging</p>
          </div>
        </div>
      </div> 
      <div class="bottom-nav-container">
        <ul class="navigation bottom-nav">
          <!-- 6 -->
          <li id="data"><a href="#">DATA</a></li>
          <li><a href="#">AI & ML</a></li>
          <li><a href="#">MOBILE</a></li>
          <li><a href="#">WEB</a></li>
          <li><a href="#">INFRASTRUCTURE</a></li>
          <li><a href="#">OPEN SOURCE</a></li>
          <li><a href="#">PEOPLE</a></li>
          <li id="contact"><a href="#">CAREERS</a></li>
        </ul>
        <div class="social-links">
          <img src="/images/search.png">
          <img src="/images/twitter.png">
          <img src="/images/facebook.png">
          <img src="/images/instagram.png">
          <div class="follow">Follow</div>
        </div>
      </div> 
    </div>
  </nav>

  <body>
    <div class="container">